In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from natsort import natsorted

In [3]:
df = pd.read_csv("../data/dataset01_sfu_hierarchical_forecast_project.csv")

In [4]:
df.head()

,Unnamed: 0,year,month,week,province,city,store,category,department,class,vendor,size,totalQuantity,totalSales
0,0,2012,1,1,province3,city31,store40,category1,department1,class7,vendor2,size26,1.0,424.971081
1,1,2012,1,1,province2,city15,store33,category1,department1,class7,vendor2,size29,-1.0,-424.971081
2,3,2012,1,1,province1,city18,store51,category1,department1,class7,vendor2,size29,1.0,424.971081
3,4,2012,1,1,province3,city31,store62,category1,department1,class7,vendor2,size29,1.0,424.971081
4,5,2012,1,1,province3,city31,store40,category1,department1,class7,vendor2,size33,1.0,424.971081

In [5]:
df = df.drop(columns="Unnamed: 0")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2348930 entries, 0 to 2348929
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   year           int64
 1   month          int64
 2   week           int64
 3   province       object
 4   city           object
 5   store          object
 6   category       object
 7   department     object
 8   class          object
 9   vendor         object
 10  size           object
 11  totalQuantity  float64
 12  totalSales     float64
dtypes: float64(2), int64(3), object(8)
memory usage: 233.0+ MB

In [7]:
#unique values in each column
print("Unique values in each column")
print("----------------------------")
for col in list(df):
    print(col,":",len(df[col].unique()))

Unique values in each column
----------------------------
year : 7
month : 12
week : 52
province : 3
city : 44
store : 57
category : 2
department : 14
class : 44
vendor : 95
size : 40
totalQuantity : 81
totalSales : 42908

print all possible combination between space and product hierarchy

In [8]:
space = ["province", "city","store"]
prod = ["category","department","class"]
time = ["year", "weekly","monthly","quarterly"]
total = 0
print("Count of all cross-combination between 2 hierarchy")
print("--------------------------------------------------")
for x in space:
    for y in prod:
        total = total + df.groupby([x,y]).ngroups
        print(x,"VS",y,":", df.groupby([x,y]).ngroups)
print("Total:", total)

Count of all cross-combination between 2 hierarchy
--------------------------------------------------
province VS category : 6
province VS department : 39
province VS class : 127
city VS category : 88
city VS department : 505
city VS class : 1740
store VS category : 114
store VS department : 641
store VS class : 2217
Total: 5477

count data points in each cross-combinations

In [9]:
print("SPACE      PRODUCT        COUNT")
print("-------------------------------")
for x in space:
    for y in prod:
        print(df.groupby([x,y]).size())

SPACE      PRODUCT        COUNT
-------------------------------
province   category
province1  category1     495313
           category2      38262
province2  category1    1387269
           category2     107532
province3  category1     295511
           category2      25043
dtype: int64
province   department
province1  department1      82738
           department10        85
           department11      6506
           department12     30841
           department13        37
           department2     252593
           department3     108839
           department4      40161
           department5       8398
           department6         13
           department7       2571
           department8        671
           department9        122
province2  department1     216169
           department10       172
           department11     17703
           department12     87458
           department13        66
           department14        80
           department2     689045
           department3     344157
           department4     105192
           department5      20976
           department6         38
           department7      11692
           department8       1742
           department9        311
province3  department1      46429
           department10        23
           department11      4324
           department12     20212
           department13        16
           department2     152476
           department3      63157
           department4      26602
           department5       4536
           department7       2311
           department8        402
           department9         66
dtype: int64
province   class
province1  class1     26776
           class10    43075
           class11    28806
           class12    12721
           class13    13111
                      ...
province3  class5      7684
           class6      6025
           class7     37712
           class8      5294
           class9      1095
Length: 127, dtype: int64
city    category
city10  category1    55442
        category2     3510
city11  category1    36695
        category2     3535
city12  category1    32231
                     ...
city7   category2     3093
city8   category1    29079
        category2     2840
city9   category1    29395
        category2     2394
Length: 88, dtype: int64
city    department
city10  department1      8918
        department10        4
        department11      570
        department12     2866
        department2     26496
                        ...
city9   department4      2540
        department5       406
        department7       239
        department8        32
        department9         6
Length: 505, dtype: int64
city    class
city10  class1     3122
        class10    6227
        class11    3626
        class12    1658
        class13    1467
                   ...
city9   class5      891
        class6      650
        class7     3828
        class8      518
        class9      160
Length: 1740, dtype: int64
store    category
store1   category1    74985
         category2     3945
store10  category1    27743
         category2     3313
store11  category1     1088
                      ...
store7   category2     2787
store8   category1    29395
         category2     2394
store9   category1    49770
         category2     3630
Length: 114, dtype: int64
store   department
store1  department1     12577
        department10       11
        department11      537
        department12     3380
        department13        3
                        ...
store9  department4      3973
        department5       850
        department7       141
        department8        68
        department9        13
Length: 641, dtype: int64
store   class
store1  class1     5446
        class10    7672
        class11    5153
        class12    1854
        class13    1882
                   ...
store9  class5     1191
        class6     1172
        class7     6504
        class8      902
        class9      227
Length: 2217, dtype: int64

find combinations that do not exist

In [37]:
grp = list(df.groupby(["province","department"]).groups.keys())
natsorted(grp)

[('province1', 'department1'),
 ('province1', 'department2'),
 ('province1', 'department3'),
 ('province1', 'department4'),
 ('province1', 'department5'),
 ('province1', 'department6'),
 ('province1', 'department7'),
 ('province1', 'department8'),
 ('province1', 'department9'),
 ('province1', 'department10'),
 ('province1', 'department11'),
 ('province1', 'department12'),
 ('province1', 'department13'),
 ('province2', 'department1'),
 ('province2', 'department2'),
 ('province2', 'department3'),
 ('province2', 'department4'),
 ('province2', 'department5'),
 ('province2', 'department6'),
 ('province2', 'department7'),
 ('province2', 'department8'),
 ('province2', 'department9'),
 ('province2', 'department10'),
 ('province2', 'department11'),
 ('province2', 'department12'),
 ('province2', 'department13'),
 ('province2', 'department14'),
 ('province3', 'department1'),
 ('province3', 'department2'),
 ('province3', 'department3'),
 ('province3', 'department4'),
 ('province3', 'department5'),
 ('province3', 'department7'),
 ('province3', 'department8'),
 ('province3', 'department9'),
 ('province3', 'department10'),
 ('province3', 'department11'),
 ('province3', 'department12'),
 ('province3', 'department13')]

we can see above that province1+department14, province3+department6, province3+department14 do not exist.