In [2]:
import pickle
import datetime

In [ ]:
# create dataframe for all the combinations of class and store
gb = df.groupby(by=["store", "class"])

# store in dictionary
gb_dict = dict(tuple(gb))
len(gb_dict)

# save the dictionary as file. Need to run only once
with open("store_class_dictionary.pickle", "wb") as f:
    pickle.dump(gb_dict, f)

# load the dictionary from file
gb_dict = pickle.load( open( "store_class_dictionary.pickle", "rb" ) )

# set zero values in totalSales for dates with no sales
for key, val in gb_dict.items():
    tmp = gb_dict[key]
    tmp2 = tmp.groupby(tmp.index).agg({'totalSales':'sum'})
    start = datetime.datetime(2012, 1, 8)
    end = datetime.datetime(2018, 1, 7)

    rang = pd.date_range(start, end, freq="W")
    indx = pd.Series([0]*314, rang)
    table2 = pd.DataFrame(indx, columns=["totalSales"])

    chk = pd.merge(tmp2, table2, left_index=True, right_index=True, how="right")
    chk = chk.drop(columns="totalSales_y")
    chk = chk.rename(columns={"totalSales_x":"totalSales"})
    chk = chk.fillna(0)
    gb_dict[key] = chk

In [3]:
# save the updated dataframes as dictionary. Need to run only once
with open("store_class_dictionary_updated.pickle", "wb") as f:
    pickle.dump(gb_dict, f)

# load the dictionary from file
gb_dict = pickle.load( open( "store_class_dictionary_updated.pickle", "rb" ) )

In [7]:
gb_dict[("store1", "class1")]

             totalSales
2012-01-08   645.384653
2012-01-15  1667.886501
2012-01-22  2942.299777
2012-01-29  4589.616249
2012-02-05  4279.137377
...                 ...
2017-12-10   713.451450
2017-12-17   431.327791
2017-12-24  1318.981672
2017-12-31  1480.327836
2018-01-07    35.640432

[314 rows x 1 columns]